.container{
    z-index: 1;
    height: calc(100vh - 3rem);
    width: calc(100vw - 105px);
    display: flex;
    flex-direction: row;
    background-color: #181818;
    position: absolute;
    top: 3rem; left: 50px;
}