.box {
    width: 250px;
    height: 100%;
    background-color: #003789;
    color: #fff;
    transform: translateX(-200px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.app {
    width: 250px;
    height: 94vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.topBar{
    height: 6vh;
    background-color: #003789;
    border-bottom: 3px solid black;
}

.navbar{
    z-index: 2;
    background: #fff;
    pointer-events: none;
    position: absolute;
    left: 2rem;
    width: 0.5rem;
    height: 25rem;
    border-radius: 10rem;
    transform: translateY(-500px);
}

.linkCont{
    z-index: 3;
    position: absolute;
    left: 4rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
}

.linkList{
    list-style-type: none;
}

.list{
    margin: 2rem 0rem 2rem 0rem;
    font-size: 1.5rem;
    color: #fff;
}

.activeList{
    margin: 2rem 0rem 2rem 0rem;
    font-size: 1.5rem;
    color: #fff;
    padding-left: 1rem;
}