.aboutCont{
    z-index: 1;
    position: absolute;
    top: 0; left: 0;
    // display: flex;

    .firstContainer {
        background-color: red;
        min-height: 100vh;
        height: 100vh;
        min-width: 100vw;
        z-index: 2;
        position: relative;
        padding: 3rem 0rem 0rem 50px;
    }

    .container {
        width: 400vw;
        height: 100vh;
        display: flex;
        flex-wrap: nowrap;
        z-index: 2;

        .panel {
            position: relative;
            height: 100vh;
            // height: 100%;
            width: 100vw;
            background-color: #fff;
            border: 2px solid black;
        }
    }

    .lastContainer {
        min-height: 100vh;
        min-width: 100vw;
        background-color: blue;
    }
}

// .aboutCont{
//     width: 200vw;
//     height: 400vh;
//     display: flex;
//     // overflow: hidden;
//     position: absolute;
//     top: 0; left: 0;
//     z-index: 1;

//     .container1{
//         width: 100vw;
//         height: 200vh;
//         background-color: red;
//         padding: 3rem 0rem 0rem 50px;
//     }
//     .container2{
//         width: 100vw;
//         height: 200vh;
//         background-color: blue;
//         padding: 3rem 0rem 0rem 50px;
//         position: relative;
//         margin-top: 100vh;
//     }
// }