.container{
    z-index: 1;
    height: calc(100vh - 3rem);
    width: calc(100vw - 105px);
    display: flex;
    flex-direction: row;
    background-color: #181818;
    position: relative;
    left: 50px;
    padding-right: 55px;
    padding-left: 50px;
    
    .infoCont{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        .name{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            height: 50%;
            
            .lineCont{
                z-index: 3;
                // height: 12rem;
                height: clamp(4rem, -1.714rem + 15.238vw, 12rem);
                width: 0.25rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                
                .line{
                    z-index: 3;
                    height: 0;
                    width: 100%;
                    background-color: #fff;
                    border-radius: 10rem;
                }

                .box {
                    // z-index: 2;
                    // height: 6rem;
                    height: clamp(2rem, -0.857rem + 7.619vw, 6rem);
                    width: clamp(7rem, -2.286rem + 24.762vw, 20rem);
                    background-color: #181818;
                    // background-color: #c2c0c0;

                    .nameText{
                        width: 19vw;
                        height: 100%;
                        z-index: -1;
                        font-size: clamp(2rem, -0.143rem + 5.714vw, 5rem);
                        color: white;
                    }
                }

                .coverBoxF {
                    position: absolute;
                    top: 0;
                    left: 0;

                    .fName{
                        position: absolute;
                        right: 0; bottom: 0;
                        text-align: right;
                    }
                }

                .coverBoxL {
                    position: absolute;
                    bottom: 0;
                    right: 0;

                    .lName{
                        position: absolute;
                        left: 0; top: 0;
                    }
                }
            }
        }

        .brief {
            width: 80%;
            height: 50%;

            .briefInfo{
                color: #fff;
                padding-top: 1rem;
                font-size: 1.5rem;
                transform: translateY(100%);
                opacity: 0;
            }
        }
    }

    .imageCont {
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 639px), (max-height: 450px) {
    .container {
        padding-right: 0px;
        padding-bottom: 55px;
    }
}

@media (max-height: 525px), (max-width: 660px){
    .container{
        padding-left: 0;

        .infoCont{
            .brief{
                .briefInfo{
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (max-width: 1000px){
    .container{
        flex-direction: column;
        width: 100%;
        left: 0;
        
        .infoCont{
            height: 100%;
            
            .name{
                height: auto;
                // padding-top: clamp(2rem, 1.667rem + 2.133vw, 3rem);

                .lineCont{
                    height: clamp(10rem, 9.143rem + 4.571vw, 12rem);
        
                    .box{
                        height: clamp(5rem, 4.571rem + 2.286vw, 6rem);
        
                        .nameText{
                            font-size: clamp(3rem, 2.143rem + 4.571vw, 5rem);
                            width: 100%;
                        }
                    }

                    .coverBoxF{
                        width: 35vw;
                    }

                    .coverBoxL{
                        width: 40vw;
                    }
                }
            }

            .brief {
                height: auto;
            }
        }
        
        .imageCont{
            display: none;
        }
    }
}

@media (max-width: 440px){
    .container {
        .infoCont {
            .name {
                .lineCont {
                    height: 6rem;

                    .box {
                        height: clamp(5rem, 4.571rem + 2.286vw, 6rem);
                        height: 3rem;

                        .nameText {
                            font-size: clamp(1.75rem, 0.763rem + 6.316vw, 2.5rem);
                        }
                    }
                }
            }
        }
    }
}

// @media (max-height: 550px){
//     .lineCont {
//         height: 6rem;
        
//         .box {
//             height: 3rem;
//         }
//     }
// }