.topBar {
    height: 3rem;
    width: 100%;
    background-color: #003789;
    border-bottom: 3px solid black;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
}

.app {
    width: 250px;
    height: calc(100vh - 3rem);
    display: flex;
    justify-content: center;
    flex-direction: column;
    pointer-events: none;
    position: fixed;
    top: 3rem; left: 0;
    z-index: 3;

    .box {
        z-index: 2;
        width: 250px;
        height: 100%;
        background-color: #003789;
        color: #fff;
        transform: translateX(-200px);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        pointer-events: auto;
    }

    .navbar {
        z-index: 3;
        background: #fff;
        pointer-events: none;
        position: absolute;
        left: 2rem;
        width: 0.5rem;
        height: 75%;
        border-radius: 10rem;
        transform: translateY(-900px);
    }
}

.linkCont{
    z-index: 4;
    position: absolute;
    left: 4rem; top: 7rem;
    height: 18rem;
    transform: translateX(-300px);
    
    .linkList{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        pointer-events: auto;
        
        .list{
            margin: 2rem 0rem 2rem 0rem;
            font-size: 1.60rem;
            color: #fff;
        }
        .list:hover, .activeList:hover {
            font-size: 2rem;
        }
        .activeList{
            margin: 2rem 0rem 2rem 0rem;
            font-size: 1.75rem;
            color: #fff;
            padding-left: 1rem;
        }
    }
}

.mobileNav, .mobileList, .burgerCont{
    display: none;
}

@media (max-height: 525px), (max-width: 660px) {
    .navbar, .linkCont, .app {
        display: none;
    }

    .topBar{
        top: 0;
    }
    
    .mobileNav{
        display: block;
        /* border-radius: 1rem; */
        width: 0rem;
        height: 0rem;
        position: fixed;
        z-index: 3;
        /* background-color: #181818; */
        background-color: #003789;
        transform: translateY(-3rem);
    }

    .mobileList{
        z-index: 3;
        height: 50%;
        position: absolute;
        top: 3rem;
        display: flex;
        flex-direction: column;
        transform: translateX(-10rem);
        /* pointer-events: none; */
        
        .mobileListLink{
            display: block;
            color: #fff;
            // font-size: 1.5rem;
            font-size: clamp(1rem, 0.844rem + 1.246vh, 1.5rem);
            margin: clamp(0.5rem, 0.469rem + 0.249vh, 0.6rem) 0rem clamp(0.5rem, 0.469rem + 0.249vh, 0.6rem) 0rem;
        }
        .mobileActive{
            display: block;
            color: #fff;
            font-size: clamp(1.25rem, 1.094rem + 1.246vh, 1.75rem);
            text-decoration: underline;
            margin: clamp(0.5rem, 0.469rem + 0.249vh, 0.6rem) 0rem clamp(0.5rem, 0.469rem + 0.249vh, 0.6rem) 0rem;
        }
    }

    .burgerCont{
        z-index: 4;
        display: block;
        position: fixed;
        left: 0.5rem; top: 0.25rem;
        
        .mobileBurger{
            color: #fff;
            font-size: 2.5rem;
        }
    }
}