.projectCont {
    position: absolute;
    top: 0; left: 0;
    overflow: hidden;
    background-color: #181818;
    // display: flex;

    .container {
        width: 100vw;
        // min-height: 100vh;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 3rem 55px 1rem 50px;

        .card{
            margin-top: 1rem;
            width: 31%;
            height: 20rem;      

            figure{
                max-width: 65%;

                .img{
                    height: 100%;
                    aspect-ratio: 1/1;
                }
            }

            .body{
                position: relative;
                min-width: 4rem;
                background-color: #303030;
                border-radius: 0 1rem 1rem 0;

                .title {
                    position: absolute;
                    left: 1rem;
                    top: 0.5rem;
                    font-size: min(clamp(1rem, -0.24rem + 3.306vh, 1.5rem), clamp(1rem, 0.643rem + 0.952vw, 1.5rem));
                    padding: 1rem 0.2rem 0 0;
                }

                .btnCont{
                    .btn {
                        padding: 0.15rem 0.5rem 0.15rem 0.5rem;
                        position: absolute;
                        right: 0.5rem;
                        bottom: 0.5rem;
                        font-size: min(clamp(0.5rem, -1.36rem + 4.959vh, 1.25rem), clamp(0.5rem, -0.036rem + 1.429vw, 1.25rem));
                    }
                }
            }
        }
    }
}

@media (max-height: 525px),
(max-width: 660px){
    .projectCont {
        .container {
            padding-left: 0;
        }
    }
}

@media (max-width: 639px),
(max-height: 450px){
    .projectCont {
        .container {
            padding-right: 0;
        }
    }
}

@media (max-width: 650px){
    .projectCont {
        .container {
            .card {
                width: 45%;
                height: 15rem;

                .body{
                    .title{
                        left: 0.5rem;
                        padding-right: 0.75rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 1025px) {
    .projectCont {
        .container {
            .card {
                height: 23rem;

                figure {
                    max-width: 100%;
                }
            }
        }
    }
}