.resumeCont{
    z-index: 1;
    height: calc(100vh - 3rem);
    width: calc(100vw - 105px);
    display: flex;
    flex-direction: row;
    background-color: #181818;
    position: relative;
    left: 50px;
    padding-right: 55px;
    padding-left: 50px;
    overflow: hidden;

    .temp{
        background-color: aqua;
        aspect-ratio: 1/1;
        // height: calc(200vh);
        width: 200vw;
        position: absolute;
        left: 0;
        // top: 50%;
        // transform: translate(-50%, -50%);

        .skills{
            height: calc(100vh - 3rem);
            width: calc(100vw - 105px);
            // height: calc(25vh - 0.75rem);
            // width: calc(25vw - 26.25px);
            background-color: yellow;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        .education{
            height: calc(100vh - 3rem);
            width: calc(100vw - 105px);
            // height: calc(25vh - 0.75rem);
            // width: calc(25vw - 26.25px);
            background-color: purple;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%) rotate(270deg);
            // transform: translate(-50%, -50%) rotate(270deg);
        }
        
        .certifications{
            height: calc(100vh - 3rem);
            width: calc(100vw - 105px);
            // height: calc(25vh - 0.75rem);
            // width: calc(25vw - 26.25px);
            background-color: green;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%) rotate(180deg);
        }

        .experience{
            height: calc(100vh - 3rem);
            width: calc(100vw - 105px);
            // height: calc(25vh - 0.75rem);
            // width: calc(25vw - 26.25px);
            background-color: grey;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%) rotate(90deg);
        }
    }
}
