.resumeCont{
    z-index: 1;
    height: calc(100vh - 3rem);
    width: calc(100vw - 105px);
    display: flex;
    flex-direction: row;
    background-color: #181818;
    position: relative;
    left: 50px;
    padding-right: 55px;
    padding-left: 50px;
    overflow: hidden;

    .temp{
        aspect-ratio: 1/1;
        height: 50vh;
        position: absolute;
        left: 0;
        top: 50%;

        .square{
            height: 50%;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid white;
            background-color: #212121;
        }

        .skills{
            position: absolute;
            top: 0; left: 0;
            .skillsName{
                transform: rotate(135deg);
                font-size: clamp(0.75rem, 0.429rem + 2.564vh, 1.75rem);
                transition: all .5s;
            }
        }
        .skills:hover{
            .skillsName{
                font-size: clamp(1rem, 0.679rem + 2.564vh, 2rem);
            }
        }
        .education{
            position: absolute;
            top: 0; right: 0;
            .educationName{
                transform: rotate(-135deg);
                font-size: clamp(0.75rem, 0.429rem + 2.564vh, 1.75rem);
                transition: all .5s;
            }
        }
        .education:hover {
            .educationName {
                font-size: clamp(1rem, 0.679rem + 2.564vh, 2rem);
            }
        }
        .certifications{
            position: absolute;
            bottom: 0; left: 0;
            .certificationsName{
                transform: rotate(45deg);
                font-size: clamp(0.75rem, 0.429rem + 2.564vh, 1.75rem);
                transition: all .5s;
            }
        }
        .certifications:hover {
            .certificationsName {
                font-size: clamp(1rem, 0.679rem + 2.564vh, 2rem);
            }
        }
        .experience{
            position: absolute;
            bottom: 0; right: 0;
            .experienceName{
                transform: rotate(-45deg);
                font-size: clamp(0.75rem, 0.429rem + 2.564vh, 1.75rem);
                transition: all .5s;
            }
        }
        .experience:hover {
            .experienceName {
                font-size: clamp(1rem, 0.679rem + 2.564vh, 2rem);
            }
        }
    }

    // .temp{
    //     height: calc(200vh);
    //     width: 200vw;

        // .skills{
            //     // height: calc(100vh - 3rem);
            //     // width: calc(100vw - 105px);
            //     height: calc(10vh - 0.3rem);
            //     width: calc(10vw - 10.5px);
            //     background-color: blue;
            //     position: absolute;
            //     right: 0;
            //     top: 50%;
            //     transform: translateY(-50%);
        // }
    
        // .education{
            //     // height: calc(100vh - 3rem);
            //     // width: calc(100vw - 105px);
            //     width: calc(10vh - 0.3rem);
            //     height: calc(10vw - 10.5px);
            //     background-color: purple;
            //     position: absolute;
            //     left: 50%;
            //     top: 0;
            //     transform: translateX(-50%) rotate(270deg);
            //     transform: translateX(-50%);
            //     // transform: translate(-50%, -50%) rotate(270deg);
        // }
    
        // .certifications{
            //     // height: calc(100vh - 3rem);
            //     // width: calc(100vw - 105px);
            //     height: calc(10vh - 0.3rem);
            //     width: calc(10vw - 10.5px);
            //     background-color: green;
            //     position: absolute;
            //     left: 0;
            //     top: 50%;
            //     transform: translateY(-50%) rotate(180deg);
            //     transform: translateY(-50%);
        // }
    
        // .experience{
            //     // height: calc(100vh - 3rem);
            //     // width: calc(100vw - 105px);
            //     width: calc(10vh - 0.3rem);
            //     height: calc(10vw - 10.5px);
            //     background-color: red;
            //     position: absolute;
            //     left: 50%;
            //     bottom: 0;
            //     // transform: translateX(-50%) rotate(90deg);
            //     transform: translateX(-50%);
        // }
    // }
}

.cont{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: 3;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .sect{
        width: 70vw;
        height: 70vh;
        padding: min(clamp(1.5rem, 1.019rem + 3.846vh, 3rem), clamp(1rem, 0.762rem + 1.905vw, 3rem)) 2rem 2rem 2rem;
        background-color: white;
        position: absolute;
        opacity: 0;
        transform: translateY(10px);
        border-radius: 1rem;
        overflow-y: auto;
        pointer-events: none;

        .close{
            color: black;
            // font-size: 3rem;
            font-size: min(clamp(1.5rem, 1.019rem + 3.846vh, 3rem), clamp(1rem, 0.762rem + 1.905vw, 3rem));
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            // pointer-events: auto;
            // padding: 0.5rem 0rem 0rem 0.5rem;
        }
    }

    .active{
        pointer-events: auto;
    }

    .skillsCont{
        display: flex;
        flex-direction: row;
    }

    .educationCont, .certificationsCont, .experienceCont{
        display: flex;
        flex-direction: column;

        .title{
            font-size: min(clamp(1.5rem, 1.019rem + 3.846vh, 3rem), clamp(1rem, 0.762rem + 1.905vw, 3rem));
            color: black;
            font-weight: bold;
        }

        .subTitle{
            font-size: min(clamp(1rem, 0.679rem + 2.564vh, 2rem), clamp(1rem, 0.881rem + 0.952vw, 2rem));
            color: black;
            font-weight: bolder;
        }

        .content{
            color: black;
            font-size: min(clamp(0.5rem, 0.34rem + 1.282vh, 1rem), clamp(0.5rem, 0.44rem + 0.476vw, 1rem));
        }
    }
}


@media (max-height: 525px),
(max-width: 660px) {
    .resumeCont{
        left: 0;
    }
}

@media (max-width: 639px),
(max-height: 450px) {
    .resumeCont{
        padding: 0;
        width: 100%;
    }
}

@media (max-width: 300px) {
    .resumeCont {
        .temp{
            top: 0;
            left: 50%;
        }
    }
}